/* --fonts-- */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #413939;
}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #413939;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #413939;
}

/* --body style-- */

.background_two {
    background-color: #F4E2D6;
}

body {
    background-color: #F7F1ED;
    margin: 0;
}
/* --div-- */

.flex_wrapper_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_start {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem;
}

.border_above {
    border-top: #98002E solid 2px;
    
}

/* --padding-- */

.padding_above {
    padding-top: 5rem;
}