/* --fonts-- */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #413939;
}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #413939;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #413939;
}

/* --body style-- */

.background_two {
    background-color: #F4E2D6;
}

body {
    background-color: #F7F1ED;
    margin: 0;
}

.footer_background {
    background-color: #98002E;
    color: white;
}
/* --div-- */

.flex_wrapper_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_start {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem;
    justify-content: flex-start;
}

.border_above {
    border-top: #98002E solid 2px;
    
}

/* --padding-- */

.padding_above {
    padding-top: 5rem;
}

.nav_logo {
padding-top: 2rem;
}

h1 {
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.footer_logo {
    padding-top: 2rem;
}

.copyright{
    padding-bottom: 1rem;
}

.big_pill_wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* --pills-- */

.pills {
    color: white;
    text-decoration: none;
    background-color: #98002E;
    padding: 1rem;
    justify-content: center;
    border-radius: 25px;
}

.pills a:hover {
    background-color:#F4E2D6;
    border-color:#98002E;
    color: white;
}

.nav_pills {
    background-color: #98002E;
    color: white;
    padding: .5rem;
    border-radius: 25px;
    text-decoration: none;

}

.pills_disabled {
    pointer-events: none;
    cursor: default;
    color:#98002E;
    padding: .5rem;
    border-radius: 25px;
    text-decoration: none;
    border: #98002E solid;
  }

  .big_pill_wrapper {
    display: flex;
    justify-content: center;
  }

  .nav_pill_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --pics-- */

.nav_logo {
    width: 50vw;
}

.footer_logo {
    width: 187.5px;
}

/* --media query 1320px-- */
@media screen and (max-width: 1320px) {

    /* --nav-- */
    .computer_icon {
        display: none;
    }
}


/* --media query 1320px-- */
@media screen and (min-width: 1320px) {


        /* --style-- */
        .border_above {
            border: none;
        }
        /* --nav-- */
        .computer_icon {
            display: flex;
            justify-content: flex-end;
            width: 100vw;
            /* padding-right: 2rem; */
        }
        .nav_wrapper {
            display: flex;
            width: 100vw;
            padding: 4rem;
            padding-top: 6rem;
        }
        .nav_logo {
            width: 338px;
        }
        .nav_pill_wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          
        }

        /* --grid-- */
        .content_body {
            display: grid;
            padding-left: 4rem;
            padding-right: 4rem;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .AI_pizza {
            grid-column: 2/6;
        }
        .internet {
            grid-column: 5/6;
        }
        .NASA {
            grid-column: 1/2;
        }



}