/* --fonts-- */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #413939;
}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #413939;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #413939;
}

/* --body style-- */

.background_two_content {
    background-color: #F4E2D6;
}

body {
    background-color: #F7F1ED;
    margin: 0;
    width: 0 auto;
    padding: 0;
    /* max-width: 1400px; */
}

.footer_background {
    background-color: #98002E;
    color: white;
}
/* --div-- */

.flex_wrapper_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_start {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem;
    justify-content: flex-start;
}

.border_above {
    border-top: #98002E solid 2px;
    
}
.footer_width {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --padding-- */

.padding_above {
    padding-top: 5rem;
}

.nav_logo {
padding-top: 2rem;
}

h1 {
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.footer_logo {
    padding-top: 2rem;
}

.copyright{
    padding-bottom: 1rem;
}

.big_pill_wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* --pills-- */

.pills {
    color: white;
    text-decoration: none;
    background-color: #98002E;
    padding: 1rem;
    justify-content: center;
    border-radius: 25px;
}


.nav_pills {
    background-color: #98002E;
    color: white;
    padding: .5rem;
    border-radius: 25px;
    text-decoration: none;

}

.pills_disabled {
    pointer-events: none;
    cursor: default;
    color:#98002E;
    padding: .5rem;
    border-radius: 25px;
    text-decoration: none;
    border: #98002E solid;
  }

  .big_pill_wrapper {
    display: flex;
    justify-content: center;
  }
  .big_pill_wrapper a:hover {
    background-color:#F4E2D6;
    border: #98002E solid 2px;
    color: #98002E;
  }

  .nav_pill_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --pics-- */

.nav_logo {
    width: 50vw;
}

.footer_logo {
    width: 187.5px;
}

.gdes-classroom {
    width: 100%; 
    height: auto; 
    display: block;
}

/* --pics-- */

.Nasa_pic
.coffee_pic
.AI_pizza
.microchip_pic {
    width: 80%; 
    height: auto; 
    display: block;
}

/* --media query 1320px-- */
@media screen and (max-width: 1320px) {

    /* --nav-- */
    .computer_icon {
        display: none;
    }
    .microchip_pic {
        padding-top: 3rem;
    }
}


/* --media query 1320px-- */
@media screen and (min-width: 1320px) {


        /* --style-- */
        .border_above {
            border: none;
        }
        h2 {
            font-size: 28px;
            font-weight: bold;
        }
        h3 {
            font-size: 24px;
            font-weight: bold;
        }
        /* --body-- */
        body,
        header {
            display: flex;
            justify-content: center;
            flex-direction: column;

        }
        /* --nav-- */
        .computer_icon {
            display: flex;
            justify-content: flex-end;
            width: 65vw;
            /* padding-right: 2rem; */
        }
        .nav_wrapper {
            display: flex;
            width: 100vw;
            padding: 4rem;
            padding-top: 6rem;
        }
        .nav_logo {
            width: 338px;
        }
        .nav_pill_wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          
        }

        /* --grid-- */
        .content_body {
            display: grid;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 4rem;
            grid-template-columns: .5fr .5fr .5fr;
            padding-top: 2rem;
        }
        .AI_pizza {
            grid-column: 2/6;
        }
        .internet {
            grid-column: 5/6;
        }
        .NASA {
            grid-column: 1/2;
        }

        /* --part 2 content witha different background color-- */
        .background_two_content {
            display: flex;
            padding-left: 16rem;
            padding-right: 16rem;
            align-items: center;
            justify-content: center;
            width: fit-content;
        }
        .gdes-classroom {
            height: 80%;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .Nasa_pic
        .coffee_pic
        .AI_pizza
        .microchip_pic {
            width: 100%; 
            height: auto; 
            display: block;
        }
        .microchip_pic {
            padding-top: none;
        }
        .border_h2 {
            margin-top: none;
            }

}

@media screen and (min-width: 1920px) {
    
    /* --nav-- */
    .nav_wrapper {
        display: flex;
        width: 100vw;
        padding: 16rem;
        padding-top: 6rem;
    }
    .nav_logo {
        width: 500px;
    }

    /* --grid-- */
    .content_body {
        display: grid;
        padding-left: 16rem;
        padding-right: 16rem;
        padding-bottom: 4rem;
        grid-template-columns: .5fr 1fr 2fr;
        padding-top: 2rem;
        width: 90%;
    }
    .AI_pizza {
        grid-column: 2/3;
    }
    .internet {
        grid-column: 1/2;
        grid-row: 2;
    }
    .NASA {
        grid-column: 3/4;
    }
    .COFFEE {
        grid-column: 2/6;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        background-color: #98002E;
        /* padding-left: 0;
        padding-bottom: 0;
        padding-top: 0; */
        padding: 0;
    }
    .desktop_coffee {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 2rem;
    }
    .desktop_coffee_header {
        color: white;
        

    }
  
    .AI_pizza {
        width: 90%; 
        height: auto; 
        display: block;
    }
    /* --part 2-- */

    .background_two_content {
     
        width: 95%;
        /* padding: 2rem; */
        
    }
    .desktop_part_2 {
        /* padding: 16rem; */
        width: 900px;
        display: flex;
        justify-content: center;
    }
    .gdes-classroom {
        width: 90%;
        display: block;
        height: auto;
    }

    /* --footer-- */
   footer {
    width: 100%;
    padding-left: 12rem;
    padding-right: 12rem;
   }

}